<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="main">
        <div class="main-title">
          <h1 class="title">Блоги по программированию</h1>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>

        <div class="post">
          <img src="<%=post.image %>" alt="" />
          <div class="post-review">
            <div class="data">
              <i class="fa-regular fa-calendar"></i>
              <p>24.05.2023</p>
            </div>

            <div class="views">
              <i class="fa-solid fa-eye"></i>
              <p>21</p>
            </div>

            <div class="comments">
              <i class="fa-solid fa-message"></i>
              <p>4</p>
            </div>

            <div class="category">
              <i class="fa-solid fa-list"></i>
              <p><%=post.category.name%></p>
            </div>

            <div class="author">
              <i class="fa-solid fa-user"></i>
              <p><%=post.author.full_name%></p>
            </div>
          </div>
          <div class="post-title">
            <h2><%=post.title %></h2>
            <div class="post-edit">
              <i class="fa-solid fa-ellipsis-vertical"></i>
              <p>Еще</p>
            </div>
          </div>
        </div>

        <div class="post-text">
          <p><%=post.description %></p>
        </div>

        <div class="comment-section">
          <div class="commentNumber">
            <h1>Комментарии</h1>
          </div>

          <div class="commentItem">
            <div class="user">
              <img src="/images/user.png" alt="" />
              <div class="name">Ельнур Сеитжанов</div>
            </div>
            <!-- <div class="commentText">
              <p>
                В отличие от обычных виджетов пользовательского интерфейса
                JavaScript, комплексные виджеты - это полноценные приложения,
                которые не требуют дополнительной настройки и кастомизации.
              </p>
            </div> -->
          </div>

          <% if(user._id) {%>
          <form onsubmit="sendComment(event)">
            <p>Напишите комментарий</p>
            <textarea id="comment-text"></textarea>
            <input type="hidden" value="<%=user._id %>" id="comment_author" />
            <input type="hidden" value="<%=post._id %>" id="comment_post" />
            <button type="submit">Сохранить</button>
          </form>
          <% } else{ %>
          <div class="comm">
            <p>
              <a href="/login">Войдите</a>
              или
              <a href="/signup">зарегестрируйтесь</a>, чтобы оставить
              комментарий
            </p>
          </div>
          <% } %> <% if(comments) { comments.forEach(comment =>{ %>

          <div class="commentItem">
            <div class="user">
              <img src="/images/user.png" alt="" />
              <div class="name">
                <a href=""><%=comment.authorId.full_name %></a>
              </div>
            </div>
            <div class="commentText">
              <% if(comment.text.length > 0) { %>
              <p>Комментарий: <%=comment.text %></p>
              <% } %>
            </div>
          </div>

          <% }) } %>
        </div>
      </div>
      <nav>
        <div class="nav-title">
          <h1>Категории</h1>
        </div>

        <div class="navigation">
          <ul>
            <%categories.forEach(category =>{ %>
            <li>
              <a href="/<%=category.key %>"> <%=category.name%> </a>
            </li>
            <hr />
            <% }) %>
          </ul>
        </div>
      </nav>
    </div>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>
