<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="main">
        <div class="main-title">
          <h1 class="title">Блоги по программированию</h1>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>

        <% posts.forEach(item => { %>

        <div class="post">
          <img src="<%=item.image %>" alt="" />
          <div class="post-title">
            <h2><%=item.title %></h2>
          </div>
          <div class="post-text">
            <p><%=item.description %></p>
          </div>

          <div class="post-review">
            <div class="data">
              <i class="fa-regular fa-calendar"></i>
              <p>26.06.2020</p>
            </div>

            <div class="views">
              <i class="fa-solid fa-eye"></i>
              <p>21</p>
            </div>

            <div class="comments">
              <i class="fa-solid fa-message"></i>
              <p>4</p>
            </div>

            <div class="category">
              <i class="fa-solid fa-list"></i>
              <p><%=item.category.name %></p>
            </div>

            <div class="author">
              <i class="fa-solid fa-user"></i>
              <p><%=item.author.full_name %></p>
            </div>
          </div>
        </div>

        <% }) %>
      </div>

      <nav>
        <div class="nav-title">
          <h1>Категории</h1>
        </div>

        <div class="navigation">
          <ul>
            <%categories.forEach(category =>{ %>
            <li>
              <a href="/<%=category.key %>"> <%=category.name%> </a>
            </li>
            <hr />
            <% }) %>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
