<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Decode Blog</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="main">
        <div class="main-title">
          <h1 class="title">Блоги по программированию</h1>
          <p>
            Популярные и лучшие публикации по программированию для начинающих и
            профессиональных программистов и IT-специалистов.
          </p>
        </div>

        <% posts.forEach(item => { %>

        <div class="post">
          <a href="/detail/<%=item._id %>" class="detail-item">
            <img src="<%=item.image %>" alt="" />
            <div class="post-title">
              <h2><%=item.title %></h2>
            </div>
            <div class="post-text">
              <p><%=item.description %></p>
            </div>
          </a>

          <div class="post-review">
            <div class="data">
              <i class="fa-regular fa-calendar"></i>
              <p>24.05.2023</p>
            </div>

            <div class="views">
              <i class="fa-solid fa-eye"></i>
              <p>21</p>
            </div>

            <div class="comments">
              <i class="fa-solid fa-message"></i>
              <p>4</p>
            </div>

            <div class="category">
              <i class="fa-solid fa-list"></i>
              <p><%=item.category.name %></p>
            </div>

            <div class="author">
              <i class="fa-solid fa-user"></i>
              <p><%=item.author.full_name %></p>
            </div>
          </div>
        </div>

        <% }) %>

        <div class="pages">
          <% 
            let localsString = ''
            if(locals.category){
              localsString = `category=${locals.category}&`
            }
            if(locals.search){
              localsString = `search=${locals.search}&`
            }
            for(let i=0; i<pages; i++){
              %>
              <a href="?<%=localsString%>page=<%=i%>"><%=i + 1%></a>
              <%
            }
            %>
        </div>
        
      </div>

      <nav>
        <div class="nav-title">
          <h1>Категории</h1>
        </div>

        <div class="navigation">
          <ul>
            <%categories.forEach(category =>{ %>
            <li>
              <a href="?category=<%=category.key %>"> <%=category.name%> </a>
            </li>
            <hr />
            <% }) %>
          </ul>
        </div>
      </nav>
    </div>

    <%- include('partials/scripts.ejs') %>
  </body>
</html>
